

*{
    background-color: lightblue;
    box-sizing: border-box;
    font-size: 12px;
}
header{
    font-size: 150%;
    box-sizing: content-box;
    float: center;
}

p{
    width: 100%;
}
p:hover{
    
    font-size: 110%;
    background-color: whitesmoke;
}

h1{
    box-sizing: content-box;
    border: 1px solid black;
    caption-side: top;
    font-size: 300%;
    background-color: lightcyan;
}
h2{
    caption-side: top;
    border: 1px solid black;
    font-size: 200%;
    box-sizing: content-box;
    background-color: lightcyan;
}
h3{
    font-size: 150%;
    box-sizing: content-box;
    position: right;
    text-align: right;
    background-color: lightcyan;
}
nav {
    font-size: 20%;
    box-sizing: content-box;
    float: center;
    text-anchor: middle;
}
ul {
    list-style-type: none;
    padding: 1%;
}
li {
    display: inline;
    
}
li a{
    display: inline;
    padding: 1%;
    background-color: lightcyan;
}
li a:active{
    background-color: whitesmoke;
}
main {
   
    float: left;
    position: center;
    text-align: left;
    box-sizing: content-box;
    width: 100%;
    border: 1px solid black;
    float: center;
}
img {
    width: 20%;
    height: auto;
}
img:hover{
    animation-timing-function: ease;
    width: 100%;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
